# Python & Virtual Environments
venv/
env/
__pycache__/
*.pyc

# Environment Variables
**/.env
**/.env.*
!**/.env.example

# Node Dependencies & Frontend Builds
node_modules/
frontend/dist/
frontend/dist-ssr/
*.log

# Operating System & IDE Files
.DS_Store
Thumbs.db
.idea/
.gemini/